@{
	ViewData["Title"] = "EditDelivery";
}

<div class="container mt-4">
	<a class="btn btn-primary" asp-area="" asp-controller="Owner" asp-action="Main">Back</a>
	<hr />

	<div class="text-center">
		<div class="container mt-5">
			<div class="row justify-content-center">
				@foreach (var delivery in ViewBag.Delivery)
				{
					<div class="col-md-4 mb-4">
						<div class="card shadow-lg p-4">
							<form method="post" asp-controller="Owner" asp-action="EditDeliverys">
								<div class="mb-3">
									<label for="txtUuid" class="form-label">UUID</label>
									<input type="text" id="txtUuid" name="txtUuid" class="form-control" value="@delivery.uuid" required readonly />
								</div>
								<div class="mb-3">
									<label for="txtCard" class="form-label">Identificación de pase</label>
									<input type="text" id="txtCard" name="txtCard" class="form-control" value="@delivery.Id_Card" required readonly />
								</div>
								<div class="mb-3">
									<label for="txtTo" class="form-label">Para</label>
									<input type="text" id="txtTo" name="txtTo" class="form-control" value="@delivery.To" required />
								</div>
								<div class="mb-3">
									<label for="txtName" class="form-label">Nombre del delivery</label>
									<input type="text" id="txtName" name="txtName" class="form-control" value="@delivery.Name" required />
								</div>

								<hr />
								<button type="submit" class="btn btn-primary w-100">Update</button>
							</form>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>



